body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Quattrocento Sans', sans-serif;
}

.container {
    max-width: 60em;
    margin: 0 auto;
    padding: 15px;
}

.small-container {
    max-width: 38em;
    margin: 0 auto;
    padding: 15px;
}

input[type="text"], textarea {
    border-radius: 3px;
    border: 1px solid #B0B0B0;
    padding: 5px;
    display: block;
    width: 100%;
    font-weight: 100;
}
input[type="text"]:focus , textarea:focus, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #5637ae;
    outline: none; /*Remove the annoying glow*/
}
button {
    outline: none; /*Remove the annoying glow*/
}

.button.default {
    text-decoration: none;
    border: 2px solid #5637ae;
    color: #5637ae;
    background: none;
    margin-top: 20px;
    padding: 5px 30px;
}

.button.default:hover {
    color: #fff;
    background: #5637ae;
}

/* HEADER */

header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #logo {
    width: 150px;
}

nav {
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.5s; /*Animate this because it changes in mobile.css*/
}

nav a {
    color: #5637ae;
    padding-bottom: 3px;
    text-decoration: none;
    margin-left: 12px;
}

nav a:hover {
    border-bottom: 2px solid #5637ae;
}

/*nav a:last-child {
  font-weight: 600;
}*/

/* HERO */

#hero {
    height: 350px;
    /*background: url(../img/hero-3.png) no-repeat top center;*/
    /*background-size: cover;*/
    background-image: url(../img/hero-left.png), url(../img/hero-right.png);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 100%, auto 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero section {
    background: rgba(255,255,255,0.9);
    width: 400px;
    transition: 0.5s; /*Animate this because it changes in mobile.css*/
    text-align: center;
    padding: 20px;
    font-weight: 300;
}
#hero section p {
    font-size: 30px;
    color: #5637ae;
    margin: 0 0 25px 0;
}

/* PUBLICATIONS */
/*#publications {
    background: #F7F7F6 url(../img/publications.png) center center no-repeat;
    background-size: contain;
    height: 105px;
    width: 100%;
    padding-top: 16px;
}
#publications h3 {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #9e9d9d;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
}*/
#publications {
    background: #F7F7F5;
    padding: 15px 0;
}
#publications h3 {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #9e9d9d;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
}
#publications ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
}
#publications ul li img {
    height: 28px;
}
#publications ul li {
    margin: 14px 25px 0 0;
}
#publications ul li:last-child {
    margin-right: 0;
}
/* FEATURES */

.features-container {
    padding: 0;
    border-bottom: 1px solid #C7C7C7;
}
.features-container .container {
    padding: 0; /*Overwrite default container padding*/
}
#features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#features div {
    flex: 1;
    padding: 30px 15px 15px 15px;
}
#features div img {
    height: 60px;
}
#features div:nth-child(2) {
    border-right: 1px solid #C7C7C7;
    border-left: 1px solid #C7C7C7;
}
#features div:nth-child(3) {
    border-right: 1px solid #C7C7C7;
}
#features div h3 {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}
#features div p {
   font-weight: 200;
}

/* CAMPAIGN-WIZARD */

#overview {
    font-weight: 100;
    position: relative;
}

#overview header {
    align-items: center;
    display: flex;
    justify-content: center;
}
#overview header hr {
    flex-basis: 20%;
}
#overview header h1 {
    margin: 0 20px;
    font-weight: 100;
    text-transform: uppercase;
}

#overview section section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 20px;
}
#overview section section aside {
    width: 60%;
}
#overview section section aside h1 {
    border-bottom: 2px solid #5637ae;
}
#overview section section img {
    width: 30%;
    height: 30%;
}
#overview section section:nth-child(1) img {
    margin-left: 15px;
}
#overview section section:nth-child(2) img, #overview section section:nth-child(3) img  {
    margin-right: 15px;
}
/*#campaign-wizard-form section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#campaign-wizard-form aside {
    flex: 1 1 1em;
    order: 2;
    text-align: center;
    margin-left: 30px;

}
#campaign-wizard-form img  {
    flex: 1 1 1em;
}
#campaign-wizard-form aside h1 {
    font-family: 'Quattrocento', serif;
    border-bottom: 2px solid #000;
    margin: 0;
}*/





/* ABOUT */
#about {
    /*position: relative;*/
    background: url(../img/system-preview.jpg) no-repeat center center;
    background-size: 70% 70%;
    border: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
    animation: system-zoom 15s 0s infinite alternate linear;
}
@keyframes system-zoom {
    0%   { background-position: 0 0; background-size: 100%; }
    25% { background-position: -50px -50px; background-size: 120%; }
    50% { background-position: -150px -50px; background-size: 130%; }
    75% { background-position: 0px -150px; background-size: 120%; }
    100% { background-position: 0px -150px; background-size: 130%; }

}
/*#about-bg {
    background: url(../img/system-preview.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}*/
#about-content {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px 0;
}
#about-content img {
    width: 50%;
}
#about-content article {
    font-weight: 100;
    color: #fff;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 40%;
    padding: 20px;
    border-radius: 10px;
}
#about-content article h2 {
    margin: 0;
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}


/* CONTACT */
#contact {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
}
#contact-form {
    transition: 0.5s;
    margin-top: 30px;
    width: 400px;
}
#contact-form div {
    display: flex;
    justify-content: space-between;
}
#contact-form div input:first-child {
    margin-right: 15px;
}
#contact-form input, #contact-form textarea {
    margin-bottom: 15px;
}
#contact-form div + input, #contact-form textarea {
    width: 389px;
}
#contact-form h1 {
    text-transform: uppercase;
    color: #5637ae;
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 15px;
}
#contact button {
    color: #fff;
    background: #5637ae;
    margin: 0;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    display: block;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 8px;
    width: 200px;
}
#contact button:hover {
    background: #6942BB;
}

/* FOOTER */
footer {
    background: #2d2d2d;
}
#footer-content {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    font-weight: 100;
    font-size: 14px;
}
#footer-content img {
    margin-right: 15px;
    width: 150px;
}